.invest{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.invest >h1{
    margin: auto;
    font-size: 40px;
    color: #3040D3;
    max-width: 50%;
    line-height: 60px;
    text-align: center;
}
.invest >h2{
    margin: auto;
    font-size: 20px;
    max-width: 60%;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
}
.investbtn >img{
    max-width: 100%;
}
.investbtn{
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-bottom: 5%;
}
.investors{
    display: flex;
    justify-content: center;
    gap:3%;
}
.investors >img{
    max-width: 100%;
}
