.outcast{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10%;
}
.outcast >h1{
    margin: auto;
    font-size: 40px;
    color: #3040D3;
    line-height: 60px;
    text-transform: capitalize;
}
.outcast >h2{
    margin: auto;
   font-size: 20px;
   max-width: 70%;
   line-height: 42px;
   text-transform: capitalize;
   text-align: center;
   padding-top: 2%;
}
.outcasts{
    display: flex;
    padding-top: 5%;
}
.outcastsone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.outcastone > img{
    max-width: 100%;
}
.outcaststwo >img{
    max-width: 100%;
}
.outcaststwo{
    display: flex;
    align-items: center;
}